@page "/clients/{ClientId:int}/edit/"
@page "/clients/create/"
@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<FullStackSample.Client.Store.ClientCreate.ClientCreateState> State

<nav aria-label="Breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/clients/search/">Clients</a>
		</li>
		<li class="breadcrumb-item active">
			@ActionText
		</li>
	</ol>
</nav>
<EditForm Model="@State.Value.Client" OnValidSubmit=@Submit>
	<PeterLeslieMorris.Blazor.Validation.Validate />
	<div class="form-group">
		<label for="Name">Name</label>
		<InputText @bind-Value=@State.Value.Client.Name Class="form-control" aria-describedby="Name" @attributes=GetElementDisabled() />
		<ValidationMessage For=@(() => State.Value.Client.Name) />
	</div>
	<div class="form-group">
		<label for="RegistrationNumber">Registration number</label>
		<InputNumber @bind-Value=@State.Value.Client.RegistrationNumber Class="form-control" aria-describedby="Registration number" @attributes=GetElementDisabled() />
		<ValidationMessage For=@(() => State.Value.Client.RegistrationNumber) />
	</div>
	<button type="submit" class="btn btn-primary" @attributes=@GetElementDisabled()>
		@(State.Value.IsExecutingApi ? ActionInProgressText : SubmitText)
	</button>
</EditForm>

@code {
	[Parameter] int? ClientId { get; set; }
	bool IsNew => !ClientId.HasValue;
	string ActionText => IsNew ? "Create" : "Edit";
	string SubmitText => IsNew ? "Create" : "Save";
	string ActionInProgressText => IsNew ? "Creating..." : "Saving...";

	void Submit()
	{
		var command = new Api.Requests.ClientCreateCommand(State.Value.Client);
		Dispatcher.Dispatch(command);
	}

	Dictionary<string, object> GetElementDisabled()
	{
		if (State.Value.IsExecutingApi)
			return new Dictionary<string, object> { ["disabled"] = "disabled" };
		return new Dictionary<string, object>();
	}
}