@inherits BlazorLayoutComponent
@using Blazor.Fluxor
@using Store.Counter
@inject IStore Store
@inject IDispatcher Dispatcher

@Store.Initialize()

<div class="sidebar">
    <button onclick="@IncrementCount">Click me!</button>
</div>

<div class="main">
    <div class="top-row px-4">
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions {
async void IncrementCount()
{
    await Dispatcher.DispatchAsync(new IncrementCounterAction());
}
}
