<li class="nav-item px-3">
	<NavLink class="nav-link" href="@Url" Match="@NavLinkMatch">
		<span class="oi @Css" aria-hidden="true"></span>@LinkText
	</NavLink>
</li>

@code
{
	[Parameter] public bool MatchWholeUrl { get; set; } = false;
	[Parameter] public string Css { get; set; }
	[Parameter] public string Url { get; set; }
	[Parameter] public string LinkText { get; set; }

	private NavLinkMatch NavLinkMatch => MatchWholeUrl ? NavLinkMatch.All : NavLinkMatch.Prefix;
}
