<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">FullStackSample</a>
	<button class="navbar-toggler" @onclick=ToggleNavMenu>
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

Buggy
<div class="@NavMenuCssClass" test-onclick=ToggleNavMenu>
	<ul class="nav flex-column">
		<MainMenuItem Css="oi-home" Url="/" LinkText="Home" MatchWholeUrl="@true" />
		<MainMenuItem Css="oi-person" Url="/clients/search/" LinkText="Clients" />
	</ul>
</div>

@code
{
	bool collapseNavMenu = true;

	string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
