@page "/"
@inherits Blazor.Fluxor.Temporary.FluxorComponent
@using Blazor.Fluxor
@using Store.Counter
@inject IState<CounterState> State

<h1>Middleware sample</h1>
<h2>Look in your browser's console view!</h2>
<p>Current count: @State.Current.ClickCount</p>

<!--
    Note: The IncrementCounterAction in this sample is dispatched in
    the file /Shared/MainLayout.cshtml
-->