@page "/"
@inherits Blazor.Fluxor.Temporary.FluxorComponent
@using Blazor.Fluxor
@using Store.Counter
@inject IFeature<CounterState> Feature

<h1>Middleware sample</h1>
<h2>Look in your browser's console view!</h2>
Counter value: @Feature.State.Value
